

:root {
    --lineHeight: 3em;
}

.menuBar {
    width: 100%;
    box-sizing:border-box;
    height: var(--lineHeight);
    outline: 1px solid black;
    background-color: aqua;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);


}

.menuBar a {
    text-align: center;
    line-height: var(--lineHeight);
    height: 100%;
    outline: 1px solid black;

.calendar {
    width: 100%;
    height: 15%;
    outline: 1px solid black;
}
